.form.idea-form
  = form_for(@idea) do |f|
    - if @idea.errors.any?
      .notification.is-danger
        h2
          = pluralize(@idea.errors.count, "error")
          |  prohibited this idea from being saved:
        ul
          - @idea.errors.full_messages.each do |message|
            li
              | -
              = message
            
    .field
      = f.label :name, class: "title"
      .control
        = f.text_field :name, class: "input"
    br
    .field
      = f.label :description, class: "title"
      .control
        = f.text_area :description, class: "textarea is-fullwidth"
    br
    .field
      = f.label :picture, class: "title"
      .control
        = f.file_field :picture, id: :idea_picture
    br
    .field
      .control
        = submit_tag "Save this Idea", class: "button is-primary is-fullwidth"
