<div class="has-text-centered">  
  <%= link_with_content fa_icon(:expand, text: "Expand Idea"), @idea, class: "button is-primary" %> | 
  <%= link_with_content fa_icon(:undo, text: "Back to Home"), ideas_path, class: "button is-warning" %>
</div>

<br />

<%= render 'form' %>
