doctype html
html
  head
    title
      = yield(:title)
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
  body
    .hero.is-fullheight.is-dark.is-bold
      header.hero-head
        nav.nav.has-shadow
          .container
            .nav-left
              a.nav-item.title.is-2[href="/"]
                |  Ideas Board
            .nav-center.is-hidden-mobile
              p.nav-item.subtitle.has-text-centered
                |  Made with <3 by @joaomarcuslf
            span.nav-toggle
              span
              span
              span
            .nav-right.nav-menu
              a.nav-item.is-tab[href="/ideas"]
                |  Ideas
              a.nav-item.is-tab[href="/info"]
                |  Info
      section.hero-body
        .container.is-fluid
          = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
